<<<<<<< HEAD
@import "@/styles/global.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}
=======
@import "sharing/styles/global.scss";
>>>>>>> 50171e98d424c44bb3c59d272d8e6e0538e98aee

.input {
  width: 100%;
  border: 0.1rem solid $color-gray20;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: $color-gray100;
  padding: 1.8rem 1.5rem;
  transition: border-color 0.2s ease-in-out;

  &::placeholder {
    color: $color-gray60;
  }

  &:focus {
    border-color: $color-primary;
  }
<<<<<<< HEAD

  &.error {
    border-color: $color-red;
  }
}

.helper-text {
  font-size: 1.4rem;

  &.error {
    color: $color-red;
  }
=======
>>>>>>> 50171e98d424c44bb3c59d272d8e6e0538e98aee
}
