<<<<<<< HEAD
@import "@/styles/global.scss";
=======
@import "sharing/styles/global.scss";
>>>>>>> 50171e98d424c44bb3c59d272d8e6e0538e98aee

.container {
  display: grid;
  grid-template-columns: repeat(32.5rem);
  justify-content: center;
  width: 100%;
  max-width: 106rem;
  row-gap: 2rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, 34rem);
    row-gap: 2.5rem;
    column-gap: 2rem;
  }
}
