<<<<<<< HEAD
@import "@/styles/global.scss";
=======
@import "sharing/styles/global.scss";
>>>>>>> 50171e98d424c44bb3c59d272d8e6e0538e98aee

.container {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.text {
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-gray60;
}
