<<<<<<< HEAD
@import "@/styles/global.scss";
=======
@import "sharing/styles/global.scss";
>>>>>>> 50171e98d424c44bb3c59d272d8e6e0538e98aee

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, $color-primary 0.12%, #6ae3fe 101.84%);
  color: $color-gray-light;
}
