<<<<<<< HEAD
@import "@/styles/global.scss";
=======
@import "sharing/styles/global.scss";
>>>>>>> 50171e98d424c44bb3c59d272d8e6e0538e98aee

.title {
  color: $color-gray100;
  font-size: 2rem;
  font-weight: 700;
}
